<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="index.keywords"><i class="fa fa-pie-chart"></i> <span
                        class="nav-label">Related Keywords</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.sentiment"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Sentiment Analysis</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.breakdown"><i class="fa fa-sitemap"></i> <span class="nav-label">Factor Breakdown</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.headlines"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Trendy Headlines</span></a>
            </li>            
            <li ui-sref-active="active">
                <a ui-sref="index.mentions"><i class="fa fa-at"></i> <span class="nav-label">Recent Mentions</span></a>
            </li>
        </ul>

    </div>
</nav>